
a {
    color: rgb(187, 187, 187);
    text-decoration: none;
    padding: 0px 30px;
    text-align: center;
}

.link-style {
    font-weight: bold;
    color: rgb(57, 206, 247);
    text-decoration: none;
}

.link-box {
    padding-left: 50px;
}